<h1>All recipes</h1>
<div class="container">
  <div class="row">
    <% @recipes.each do |recipe| %>
      <div class="col-md-<%= rand(4..6) %> align-self-center">
        <%= link_to cl_image_tag(recipe.image), recipe%>
        <p><%= link_to recipe.name, recipe %></p>
      </div>
    <% end %>
  </div>
</div>
