<h1>All recipes</h1>

<% @recipes.each do |recipe| %>
  <p>
    <% if recipe.image.present? %>
      <%= link_to image_tag(recipe.image, :class => 'thumbnail'), recipe%>
    <% end %>
    <br>
    <%= link_to recipe.name, recipe %>
  </p>
<% end %>
