<h3>Search Result</h3>

<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">
      <% @results.each do |result| %>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <% if result.image.present? %>
              <%= link_to cl_image_tag(result.image, :class => "card-img-top cl_image", :width => "100%", :height => "225px"), recipe_path(result.id)%>
            <% end %>
            <div class="card-body">
              <p class="card-text"><%= result.name %></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <%= button_to "View recipe", recipe_path(result.id), :class => 'btn btn-sm btn-outline-secondary', :method => 'get' %>
                </div>
                <small class="text-muted">Ratings</small>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
